$background-color: #fff;

$title-font-color: #262C40;
$content-font-color: #8189A3;
$error-font-color: #ff0000;

$search-border-color: #D4DEFE;

$ico-color: #432EAB;

$box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)